<%- include('partials/head') -%> <%- include('partials/navbar') -%>
<!-- DASHBOARD -->

<div class="container content">

  <div class="details-view">

    <!-- WELCOME -->

    <div class="details-welcome bg-purple">

      <h2 class="profile-name">Welcome back, <%= name %>!</h2>

    </div>

    <!-- CALENDAR PREVIEW -->

    <div class="details-calendar section bg-grey">

      <h4 class="section-header">

        <a href="/calendar">

          <i class="fas fa-calendar-alt"></i>
           Calendar
        </a>

      </h4>

      <hr />

      <div class="responsiveCal">

        <iframe
          src="<%= process.env.GUEST_USER_CALENDAR_SRC %>"
          style="border-width:0"
          width="800"
          height="600"
          frameborder="0"
          scrolling="no"
        >

        </iframe>

      </div>

    </div>

    <!-- CLASSES OVERVIEW -->

    <div class="details-classes section bg-grey">

      <h4 class="section-header">

        <i class="fas fa-chalkboard"></i>
         Classes
        <div class="float-right add-remove" id="#addclass">

          <i
            class="fas fa-plus"
            data-toggle="modal"
            data-target="#addclass"
          ></i>

        </div>
         <%- include('partials/addclass') -%>
        <hr />

      </h4>

      <div class="details-classes-list scroll">
         <% for ( i = 0 ; i < classData.length; i++) { %>
        <a href="/classes/<%= classData[i]._id %>">

          <span class="overview-item">

            <h3 class="overview-header"> <%= classData[i].className %> </h3>

            <button class="delete-btn class-delete-btn">

              <i class="fas fa-trash-alt" id="<%= classData[i]._id %>"></i>

            </button>

          </span>

        </a>
         <% } %>
      </div>

    </div>

  </div>

</div>
 <%- include('partials/footer') -%>
